{% extends 'base.html' %}
{% block aside %}
<ul>
  <li>
    <a class="link-primary" href="#">Today</a>
  </li>
  <li>
    <a class="link-primary" href="#">This week</a>
  </li>
  <li>
    <a class="link-primary" href="#">This month</a>
  </li>
</ul>
{% endblock %}
{% block content %}

{% for post in plist %}
  <article class="row border p-2 mx-2 my-4">
    <div class="col-lg-3 col-md-6 col-sm-12 px-0">
      <img class="w-100 p-2" src="{{ url_for('static', filename=post.postimg) }}" alt="...">
    </div>
    <div class="col-lg-9 col-md-6 col-sm-12">
      <section class="d-flex align-items-center mt-2 mb-4">
        <div><img class="usrimg rounded-circle" src="{{ url_for('static', filename=post.profimg) }}"
            alt="This is the image of user post.username">
        </div>
        <div>
          <h4 class="username">{{post.username}}</h4>
        </div>
        <div class="flex-grow-1 text-end">
          <p>{{post.publication_date}}</p>
        </div>
      </section>
      <p>{{post.text}}</p>
    </div>
  </article>
{% endfor %}

{% endblock %}